<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gientech.springbucks.mapper.UserMapper">
	
	<insert id="insertUser" parameterType="com.gientech.springbucks.model.User">
		INSERT INTO t_user (username, password) VALUES (#{username},#{password})
	</insert>

	<update id="updateUserById" parameterType="com.gientech.springbucks.model.User">
		UPDATE t_user SET username = #{username}, password = #{password} WHERE id = #{id}
	</update>
	
	<select id="selectUserById" parameterType="int" resultType="com.gientech.springbucks.model.User">
		select * from t_user where id=#{id}
	</select>
	
	<select id="selectAllUsers" resultType="com.gientech.springbucks.model.User">
		select * from t_user
	</select>
	
	<delete id="deleteUserById" parameterType="int">
	 	delete from t_user where id=#{id}
	</delete>
</mapper>
